.main-block {
	position: relative;
	&__contact-block {}
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__body {
		display: flex;
		flex-flow: column;
		align-items: center;
		position: relative;
		max-width: 483px;
		padding: 237px 0 103px 0;
		z-index: 2;
	}
	&__body div:not(:first-child) {
		margin: 0 0 40px 0;
	}
	&__title {
		font-family: 'ReformaGroteskBoldC';
		font-size: 150px;
		line-height: 125%;
		text-align: center;
		color: #DB3138;
	}
	&__dots {}
	&__text {
		max-width: 437px;
		font-family: 'ReformaGroteskMediumC';
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		color: #FFFFFF;
	}
	&__button {}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__image img {
		
	}
	@media (max-width: 992px) {
		&__body div:not(:first-child) {
			margin: 0 0 35px 0;
		}
		&__image {
			width: 100%;
		}
		&__image img {
			object-position: -220px;
		}

	}
	@media (max-width: 767px) {
		&__body {
			padding: 140px 0 150px 0;
		}
		&__title {
			font-size: 90px;
		}
		&__text {
			font-size: 30px;
		}
		&__image img {
		}
	}
	@media (max-width: 425px) {
		&__body {
			padding: 103px 0 103px 0;
		}
		&__image img {
			object-position: -150px;
		}
	}
}
