@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,500,600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "ReformaGroteskMediumC";
  src: url("../../fonts/ReformaGroteskMediumC.eot");
  src: local("☺"), url("../../fonts/ReformaGroteskMediumC.woff") format("woff"), url("../../fonts/ReformaGroteskMediumC.ttf") format("truetype"), url("../../fonts/ReformaGroteskMediumC.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ReformaGroteskDemiC";
  src: url("../../fonts/ReformaGroteskDemiC.eot");
  src: local("☺"), url("../../fonts/ReformaGroteskDemiC.woff") format("woff"), url("../../fonts/ReformaGroteskDemiC.ttf") format("truetype"), url("../../fonts/ReformaGroteskDemiC.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ReformaGroteskBoldC";
  src: url("../../fonts/ReformaGroteskBoldC.eot");
  src: local("☺"), url("../../fonts/ReformaGroteskBoldC.woff") format("woff"), url("../../fonts/ReformaGroteskBoldC.ttf") format("truetype"), url("../../fonts/ReformaGroteskBoldC.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../../fonts/ProximaNova-Regular.eot");
  src: local("☺"), url("../../fonts/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../../fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../../fonts/ProximaNova-Light.eot");
  src: local("☺"), url("../../fonts/ProximaNova-Light.woff") format("woff"), url("../../fonts/ProximaNova-Light.ttf") format("truetype"), url("../../fonts/ProximaNova-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../../fonts/ProximaNova-Bold.eot");
  src: local("☺"), url("../../fonts/ProximaNova-Bold.woff") format("woff"), url("../../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../../fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: local("☺"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../../fonts/ProximaNova-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header::before {
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s ease 0s;
  top: 0;
  left: 0;
}
.header.scroll::before {
  background-color: #082d3f;
}
.header.scroll {
  box-shadow: 0 0 20px black;
}
.header__container {
  padding: 0 15px;
}
.header__body {
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  z-index: 3;
}
.header__menu {
  z-index: 3;
}
.header__button {
  z-index: 3;
}
.header__burger {
  z-index: 3;
  display: none;
}

@media (max-width: 1330px) {
  .header__body {
    min-height: 70px;
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .header__menu {
    z-index: 3;
  }
}
@media (max-width: 767px) {
  .header__body {
    gap: 10px;
  }
  .header__logo img {
    width: 50px;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }
  .header__burger::before, .header__burger::after, .header__burger span {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 0.5s ease 0s;
  }
  .header__burger::before {
    top: 0;
    left: 0;
  }
  .header__burger::after {
    bottom: 0;
    right: 0;
  }
  .header__burger span {
    top: 9px;
  }
  .header__burger.active::before {
    top: 9px;
    transform: rotate(42deg);
  }
  .header__burger.active::after {
    bottom: 9px;
    transform: rotate(-42deg);
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    z-index: 1;
    overflow: auto;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #18313d;
    padding: 100px 20px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    right: 0;
  }
}
.footer {
  background-color: aliceblue;
  color: black;
}
.footer__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}
.footer__text {
  text-align: center;
  font-size: 40px;
}

@media (max-width: 425px) {
  .footer__text {
    font-size: 24px;
  }
}
.button {
  color: #FFFFFF;
  white-space: nowrap;
  font-family: "ProximaNova-Semibold";
  font-size: 13px;
  line-height: 140%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 9px 15px;
  background-color: #018ABE;
  position: relative;
  overflow: hidden;
  animation: transfusion 10s ease infinite alternate;
  transition: all 0.5s ease 0s;
}
.button__white {
  background-color: #FFFFFF;
  color: #018ABE;
  animation: none;
}
.button::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 10px;
  width: 100%;
  height: 200%;
  border-radius: 100px/50px;
  border: 2px solid rgba(240, 248, 255, 0.8);
  animation: scales 8s linear infinite alternate;
}
.button::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -10px;
  width: 100%;
  height: 200%;
  border-radius: 100px/50px;
  border: 1px solid rgba(240, 248, 255, 0.5);
  animation: scales2 5s linear infinite;
}
.button:hover {
  animation: none;
  background-color: aliceblue;
  color: #018ABE;
  box-shadow: 0 0 20px 5px #018ABE;
}
.button:hover::before {
  border: 2px solid rgba(1, 138, 190, 0.5);
}
.button:hover::after {
  border: 1px solid rgba(1, 138, 190, 0.8);
}

@keyframes transfusion {
  0% {
    background-color: rgb(1, 138, 190);
  }
  40% {
    background-color: rgb(13, 110, 148);
  }
  80% {
    background-color: rgb(9, 84, 114);
  }
  100% {
    background-color: rgb(38, 90, 110);
  }
}
@keyframes scales {
  0% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  100% {
    transform: scale(2) translate3d(30%, 30%, 0);
    opacity: 0;
  }
}
@keyframes scales2 {
  0% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  100% {
    transform: scale(2) translate3d(-30%, 30%, 0);
    opacity: 0;
  }
}
.menu__list {
  display: grid;
  grid-template: 1fr/repeat(7, 1fr);
  gap: 50px;
}
.menu__list li {
  transition: all 0.5s ease 0s;
}
.menu__link {
  color: #FFFFFF;
  font-family: "ProximaNova-Regular";
  line-height: 135%;
  font-size: 14px;
  white-space: nowrap;
  animation: transfusion1 5s ease infinite alternate;
}
.menu__list li:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .menu__list {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    grid-template: repeat(7, 1fr)/repeat(1, 1fr);
    gap: 5px;
  }
  .menu__list li {
    position: relative;
  }
  .menu__link {
    font-size: 30px;
    padding: 0 10px;
  }
  .menu__list li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -20px;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 20px;
  }
  .menu__list {
    padding: 0 10px;
  }
}
body {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  background-color: #162831;
  color: #FFFFFF;
}

.lock {
  overflow: hidden;
  height: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
}

.container {
  max-width: 1296px;
  margin: 0px auto;
  padding: 0 10px;
  box-sizing: content-box;
}

.container-swiper {
  margin: 0px auto;
}

@media (max-width: 992px) {
  .container-swiper {
    max-width: 992px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 700px;
  }
  .container-swiper {
    max-width: 767px;
  }
}
.page {
  flex: 1 1 auto;
  margin: 120px 0 30px 0;
}
.page > div:not(:last-child) {
  margin: 0 0 150px 0;
}
@media (max-width: 992px) {
  .page > div:not(:last-child) {
    margin: 0 0 50px 0;
  }
}
.title {
  white-space: none;
  font-family: "El Messiri";
  font-size: 42px;
  font-weight: 700;
  line-height: 140%;
  position: relative;
  margin: 0 0 100px 0;
}
.title__main-block {
  font-size: 24px;
}
.title::before, .title::after {
  white-space: none;
  width: 28px;
  height: 14px;
}
.title::before {
  content: url("/img/sketch_left_blue.svg");
  margin: 0 45px 0 0;
}
.title::after {
  content: url("/img/sketch_right_blue.svg");
  margin: 0 0 0 45px;
}
.title.title__main-block::before {
  content: url("/img/sketch_left.svg");
}
.title.title__main-block::after {
  content: url("/img/sketch_right.svg");
}

@media (max-width: 1248px) {
  .title {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 450px) {
  .title.title__main-block {
    font-size: 20px;
  }
  .title {
    font-size: 24px;
  }
  .title::before {
    margin: 0 20px 0 0;
  }
  .title::after {
    margin: 0 0 0 20px;
  }
}
.main-block__container {
  position: relative;
  max-height: 600px;
}
.main-block__body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 136px 0 210px 0;
}
.main-block__aqua {
  user-select: none;
  text-align: center;
  z-index: 2;
  max-width: 567px;
}
.main-block__aqua div:not(:last-child) {
  margin: 0 0 40px 0;
}
.main-block__title.title::before {
  margin: 0 66px 0 0;
}
.main-block__title.title::after {
  margin: 0 0 0 66px;
}
.main-block__aquateraphy {
  color: #FFFFFF;
  font-family: "El Messiri";
  font-size: 64px;
  line-height: 140%;
  font-weight: 700;
  transition: all 0.5s ease 0s;
  transform: scale(1);
}
.main-block__aquateraphy:hover {
  color: rgb(18, 145, 223);
  font-size: 80px;
}
.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-block__image img {
  border-radius: 15px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 100px 0 110px 0;
  }
}
@media (max-width: 676px) {
  .main-block__body {
    padding: 100px 0 150px 0;
  }
  .main-block__aquateraphy {
    font-size: 40px;
  }
  .main-block__image img {
    object-position: right;
  }
}
@media (max-width: 425px) {
  .main-block__aqua div:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .main-block__body {
    padding: 20px 0 70px 0;
  }
  .main-block__title.title::before {
    margin: 0 15px 0 0;
  }
  .main-block__title.title::after {
    margin: 0 0 0 15px;
  }
}
.session-block__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.session-block__grid {
  width: 100%;
  min-height: 540px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 24px;
}
.session-block__item {
  height: 100%;
}
.session-block__big {
  grid-row: 1/3;
}
.session-block__session-big {
  border-bottom: 7px solid #018ABE;
}
.session-block__session {
  cursor: pointer;
  user-select: none;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.session-block__session::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(1, 138, 190, 0.5);
  transition: all 0.5s ease 0s;
}
.session-block__session:hover::after {
  background: none;
  scale: 1.2;
}
.session-block__title {
  z-index: 2;
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  padding: 0 40px 30px 40px;
  white-space: none;
}
.session-block__title-big {
  padding: 0 0 50px 50px;
}
.session-block__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.session-block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1248px) {
  .session-block__grid {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
  .session-block__session {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .session-block__big img {
    object-position: left;
  }
  .session-block__title {
    text-align: center;
    font-size: 16px;
    padding: 0 15px 10px 15px;
  }
  .session-block__grid {
    min-height: 400px;
    gap: 12px;
  }
  .session-block__special {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  .session-block__big img {
    object-position: -80px;
  }
}
.feedback-block__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.swiper {
  width: 90%;
  position: relative;
}

.feedback-swiper__slide {
  width: 100%;
}
.feedback-card {
  user-select: none;
}
.feedback-card__container {
  max-width: 636px;
}
.feedback-card__body {
  background-color: #018ABE;
  padding: 50px 60px 56px 60px;
  border-radius: 10px;
}
.feedback-card__name {
  font-family: "ProximaNova-Bold";
  font-size: 20px;
  line-height: 140%;
  margin: 0 0 20px 0;
}
.feedback-card__text {
  font-family: "ProximaNova-Light";
  font-size: 14px;
  line-height: 140%;
}
.feedback-card__body p:not(:last-child) {
  margin: 0 0 20px 0;
}

@media (max-width: 1248px) {
  .feedback-card__body {
    padding: 30px 30px 50px 30px;
  }
}
@media (max-width: 767px) {
  .feedback-card__container {
    max-width: 767px;
  }
}
.swiper-slide-shadow-right {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-image: none;
}

.swiper-slide-shadow-left {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-image: none;
}

.swiper-pagination {
  margin: 20px 0 0 0;
}

.swiper-pagination-bullet {
  background-color: aliceblue;
  width: 16px;
  height: 16px;
  border-radius: 3px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

@media (min-width: 1248px) {
  .swiper-slide-duplicate-prev {
    transition: all 0.2s ease 0;
    opacity: 0;
  }
  .swiper-slide-prev {
    transition: all 0.5s ease 0;
    opacity: 0;
  }
}
.about-block__container {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.about-block__grid {
  display: grid;
  grid-template: repeat(2, 1fr)/1fr;
  gap: 100px;
}
.about-block__item {
  display: flex;
  align-content: center;
}
.about-block__item > div:not(:last-child) {
  margin: 0 84px 0 0;
}
.about-block__text-block {
  max-width: 466px;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: center;
}
.about-block__text-block > div:first-child {
  margin: 0 0 30px 0;
}
.about-block__text-block p:not(:last-child) {
  margin: 0 0 20px 0;
}
.about-block__title {
  font-family: "ProximaNova-Bold";
  font-size: 24px;
  line-height: 140%;
}
.about-block__text {
  font-family: "ProximaNova-Light";
  font-size: 16px;
  line-height: 140%;
}
.about-block__image img {
  user-select: none;
  border-radius: 10px;
}

@media (max-width: 1130px) {
  .about-block__grid {
    grid-template: 0.8fr 1fr/1fr;
    padding: 0 10px;
    gap: 0;
  }
  .about-block__item {
    flex-flow: column;
  }
  .about-block__item > div:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .about-block__image img {
    max-width: 100%;
  }
  .about-block__text-block > div:first-child {
    margin: 0 0 10px 0;
  }
}
.price-block__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.price-block__grid {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
}
.price-block__list {
  flex-flow: column;
  display: flex;
  justify-content: center;
}
.price-block__list li:not(:last-child) {
  margin: 0 0 31px 0;
}
.price-block__price {
  display: flex;
  justify-content: space-between;
  padding-right: 134px;
}
.price-block__title {
  max-width: 268px;
  font-family: "ProximaNova-Regular";
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  white-space: nowrap;
}
.price-block__title::before {
  content: url("/img/sketch_left_blue_small.svg");
  width: 18px;
  height: 9px;
  margin: 0 20px 0 0;
}
.price-block__cost {
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}
.price-block__image div:not(:last-child) {
  margin: 0 0 30px 0;
}
.price-block__image img {
  width: 100%;
  user-select: none;
  border-radius: 10px;
}
.price-block__caption {
  text-align: center;
}
.price-block__caption a {
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .price-block__special {
    font-size: 20px;
    margin-bottom: -25px;
  }
  .price-block__grid {
    grid-template: repeat(2, 1fr)/1fr;
  }
  .price-block__grid > ul {
    margin: 0 0 20px 0;
  }
  .price-block__list li:not(:last-child) {
    margin: 0 0 15px 0;
  }
  .price-block__price {
    padding: 0 10px;
  }
  .price-block__image {
    display: grid;
    grid-template: 40px 1fr/1fr;
  }
  .price-block__image-block {
    order: 1;
  }
  .price-block__caption {
    order: 0;
  }
}
@media (max-width: 350px) {
  .price-block__title::before {
    margin: 0 5px 0 0;
  }
}
.contact-block__grid {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  gap: 48px;
}
.contact-block__subgrid {
  display: grid;
  grid-template: repeat(2, 1fr)/1fr;
  gap: 24px;
}
.contact-block__item-map {
  grid-column: 1/3;
}
.contact-block__map {
  overflow: hidden;
  border-radius: 15px;
}
.contact-block__item-contact {
  max-height: 392px;
}

@media (max-width: 767px) {
  .contact-block__grid {
    grid-template: 400px 1fr/repeat(1, 1fr);
  }
  .contact-block__subgrid {
    grid-template: 1fr/repeat(2, 1fr);
  }
  .contact-block__map {
    max-height: 400px;
  }
  .contact-block__item-map {
    grid-column: 1/2;
  }
}
@media (max-width: 767px) {
  .contact-block__subgrid {
    grid-template: 1fr 1fr/1fr;
  }
}
.contact {
  height: 100%;
}
.contact__body {
  padding: 35px 45px;
  background-color: #018ABE;
  border-radius: 10px;
  height: 100%;
}
.contact__title {
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin: 0 0 20px 0;
}
.contact__text {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 135%;
  margin: 0 0 30px 0;
}
.contact__text p:not(:last-child) {
  margin: 0 0 20px 0;
}
.contact__location::before, .contact__subway::before, .contact__description::before {
  margin: 0 20px 0 0;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.contact__location::before {
  content: url("/img/location.svg");
}
.contact__subway::before {
  content: url("/img/subway.svg");
}
.contact__description::before {
  content: url("/img/description.svg");
}
.contact__button {
  max-width: 155px;
}

@media (max-width: 676px) {
  .contact__body {
    padding: 15px 30px;
  }
  .contact__text p:not(:last-child) {
    margin: 0 0 10px 0;
  }
}