@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,500,600,700);    

@font-face {
	font-family: 'ReformaGroteskMediumC';
	src: url('../../fonts/ReformaGroteskMediumC.eot');
	src: local('☺'), url('../../fonts/ReformaGroteskMediumC.woff') format('woff'), url('../../fonts/ReformaGroteskMediumC.ttf') format('truetype'), url('../../fonts/ReformaGroteskMediumC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ReformaGroteskDemiC';
	src: url('../../fonts/ReformaGroteskDemiC.eot');
	src: local('☺'), url('../../fonts/ReformaGroteskDemiC.woff') format('woff'), url('../../fonts/ReformaGroteskDemiC.ttf') format('truetype'), url('../../fonts/ReformaGroteskDemiC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ReformaGroteskBoldC';
	src: url('../../fonts/ReformaGroteskBoldC.eot');
	src: local('☺'), url('../../fonts/ReformaGroteskBoldC.woff') format('woff'), url('../../fonts/ReformaGroteskBoldC.ttf') format('truetype'), url('../../fonts/ReformaGroteskBoldC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
