.footer {
	position: relative;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 90px;
		border-top: 1px solid #898989;
	}
	&__service {
		font-family: 'ReformaGroteskDemiC';
		font-size: 16px;
		line-height: 140%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		opacity: 0.5;
	}
	&__title {
		text-align: center;
	}
	&__menu {}
	&__dots {
		margin: 40px 0 60px 0;
	}
	&__form-block {

		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 992px) {
		&__service {
			font-size: 14px;
			margin-right: 0 10px 0 0;
		}
	}
	@media (max-width: 767px) {
		&__body {
			justify-content: center;
		}
		&__service {
			text-align: center;
		}
		&__menu {
			display: none;
		}
	}
}
.form-block {
	&__body {
		max-width: 636px;
		padding: 100px 0;
		width: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
}