.feedback-block {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
	}
}
.swiper {
	width: 90%;
	position: relative;
}
.feedback-swiper {
	&__wrapper {
	}
	&__slide {
		width: 100%;
	}
	&__pagination {}
	&__button-prev {}
	&__button-next {}
	&__button-scrollbar {}
}
.feedback-card {
    user-select: none;
	&__container {
		max-width: 636px;
	}
	&__body {
		background-color: #018ABE;
		padding: 50px 60px 56px 60px;
		border-radius: 10px;
	}
	&__name {
		font-family: 'ProximaNova-Bold';
		font-size: 20px;
		line-height: 140%;
		margin: 0 0 20px 0;
	}
	&__text {
		font-family: 'ProximaNova-Light';
		font-size: 14px;
		line-height: 140%;
	}
	&__body p:not(:last-child) {
		margin: 0 0 20px 0;
	}
}
@media (max-width: 1248px) {
	.feedback-card__body {
		padding: 30px 30px 50px 30px;
	}
}
@media (max-width: 767px) {
	.feedback-card__container {
		max-width: 767px;
	}
}
.swiper-slide-shadow-right {
	background: rgba($color: #000000, $alpha: 0.3);
	border-radius: 10px;
	background-image: none;
}
.swiper-slide-shadow-left {
	background: rgba($color: #000000, $alpha: 0.3);
	border-radius: 10px;
	background-image: none;
}
.swiper-pagination {
	margin: 20px 0 0 0;
}
.swiper-pagination-bullet {
	background-color: aliceblue;
	width: 16px;
	height: 16px;
	border-radius: 3px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}
@media (min-width: 1248px) {
	.swiper-slide-duplicate-prev {
		transition: all 0.2s ease 0;
		opacity: 0;
	}
	.swiper-slide-prev {
		transition: all 0.5s ease 0;
		opacity: 0;
	}
}