.price-block {
	&__container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	&__special {}
	&__body {
	}
	&__grid {
		display: grid;
		grid-template: repeat(1, 1fr) / repeat(2, 1fr);
	}
	&__list {
		flex-flow: column;
		display: flex;
		justify-content: center;
	}
	&__list li:not(:last-child) {
		margin: 0 0 31px 0;
	}
	&__price {
		display: flex;
		justify-content: space-between;
		padding-right: 134px;
	}
	&__title {
		max-width: 268px;
		font-family: 'ProximaNova-Regular';
		font-size: 18px;
		line-height: 140%;
		color: #FFFFFF;
		white-space: nowrap;
	}
	&__title::before {
		content: url('/img/sketch_left_blue_small.svg');
		width: 18px;
		height: 9px;
		margin: 0 20px 0 0;
	}
	&__cost {
		font-family: 'El Messiri';
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
	}
	&__image div:not(:last-child) {
		margin: 0 0 30px 0;
	}
	&__image img {
		width: 100%;
		user-select: none;
		border-radius: 10px;
	}
	&__caption {
		text-align: center;
	}
	&__caption a{
		font-family: 'El Messiri';
		font-weight: 700;
		font-size: 21px;
		line-height: 140%;
		color: #FFFFFF;
	}
}
@media (max-width: 992px) {
	.price-block__special {
		font-size: 20px;
		margin-bottom: -25px;
	}
	.price-block__grid {
		grid-template: repeat(2, 1fr) / 1fr;
	}
	.price-block__grid > ul {
		margin: 0 0 20px 0;
	}
	.price-block__list li:not(:last-child) {
		margin: 0 0 15px 0;
	}
	.price-block__price {
		padding: 0 10px;
	}
	.price-block__image {
		display: grid;
		grid-template: 40px 1fr / 1fr;
	}
	.price-block__image-block {
		order: 1;
	}
	.price-block__caption {
		order: 0;
	}
}
@media (max-width: 350px) {
	.price-block__title::before {
		margin: 0 5px 0 0;
	}
}