.swiper-block {
	position: relative;
	&__container {}
	&__wrapper {

	}
	&__slide {
		align-items: center;
		justify-content: center;
		display: flex;
	}
	&__item {
		max-width: 416px;
	}
	&__content {
		position: relative;
	}
	&__image {
		max-width: 416px;
		max-height: 350px;
		position: relative;
	}
	&__image img {
		width: 100%;
		height: 100%;
	}
	&__image::before {
		content: '';
		position: absolute;
		left: 10%;
		bottom: -12%;
		max-height: 70px;
		width: 80%;
		height: 100%;
		background-color: #DB3138;
	}
	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-family: 'ReformaGroteskDemiC';
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	&__text p {
		max-width: 286px;
	}
	&__pagination {

	}
	&__btn-prev {
		margin: 0 0 0 180px;
	}
	&__btn-next {
		margin: 0 180px 0 0;
	}
    &__btn-prev {
        &::after {
            right: 11px;
        }
    }
    &__btn-next {
        &::after {
            left: 11px;
        }
	@media (max-width: 360px) {
		&__image::before {
			bottom: -17%;
		}
	}
	@media (max-width: 992px) {
		&__wrapper {
			margin: 0 0 50px 0;
		}
	}
}

}