.button {
	color: #FFFFFF;
	white-space: nowrap;
	font-family: 'ProximaNova-Semibold';
	font-size: 13px;
	line-height: 140%;
	display: flex;
	align-items: center;
	border-radius: 3px;
	padding: 9px 15px;
	background-color: #018ABE;
	position: relative;
	overflow: hidden;
	animation: transfusion 10s ease infinite alternate;
	transition: all 0.5s ease 0s;
    &__white {
		background-color: #FFFFFF;
		color: #018ABE;
		animation: none;
	}
	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		left: 10px;
		width: 100%;
		height: 200%;
		border-radius: 100px / 50px;
		border: 2px solid rgb(240, 248, 255, 0.8);
		animation: scales 8s linear infinite alternate;
	}
	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		left: -10px;
		width: 100%;
		height: 200%;
		border-radius: 100px / 50px;
		border: 1px solid rgb(240, 248, 255, 0.5);
		animation: scales2 5s linear infinite;
	}
	&:hover {
		animation: none;
		background-color: aliceblue;
		color: #018ABE;
		box-shadow: 0 0 20px 5px #018ABE;
	}
	&:hover::before {
		border: 2px solid rgb(1, 138, 190, 0.5);
	}
	&:hover::after {
		border: 1px solid rgb(1, 138, 190, 0.8);
	}
}
@keyframes transfusion {
	0% {
		background-color: rgb(1, 138, 190);
	}
	40% {
		background-color: rgb(13, 110, 148);
	}
	80% {
		background-color: rgb(9, 84, 114);
	}
	100% {
		background-color: rgb(38, 90, 110);
	}

}

@keyframes scales {
	0% {
		transform: scale(1) translate3d(0, 0, 0);
	}
	100% {
		transform: scale(2) translate3d(30%, 30%, 0);
		opacity: 0;
	}
}
@keyframes scales2 {
	0% {
		transform: scale(1) translate3d(0, 0, 0);
	}
	100% {
		transform: scale(2) translate3d(-30%, 30%, 0);
		opacity: 0;
	}
}